# Core functionality - changes here should be rare!
/src/app.py                   @felixnagele
/src/backend/database.py      @felixnagele
/src/backend/routers/auth.py  @felixnagele

# The frontend will need refactored soon to be more object oriented.
/src/static/   @felixnagele
